/* MainPage styles
------------------------------- */
.mainpage {
  height: 100vh;
  max-height: 50rem;
  width: 100vw;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.corner {
  position: absolute;

  @media #{$breakpoint-mobile-landscape} {
    transform: scale(75%);
  }

  @media #{$breakpoint-mobile-portrait} {
    transform: scale(50%);
  }

  &--top {
    top: 0;
    left: 0;
    transform-origin: top left;
  }

  &--bottom {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
  }
}
