/* Header styles
----------------------- */
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 2rem 3rem 3rem;

  @media #{$breakpoint-mobile-portrait} {
    padding: 1rem 2rem 2rem;
  }

  a {
    height: fit-content;
  }

  &__logo {
    height: 5rem;
    display: block;
    transition: all 0.25s ease-in-out;
    transform-origin: center;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__socials {
    display: flex;
    margin-top: 1rem;
    gap: 1.25rem;

    @media #{$breakpoint-mobile-portrait} {
      gap: 0.75rem;
    }

    svg {
      transition: all 0.25s ease-in-out;
      transform-origin: center;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
